In [1]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.builder().getOrCreate()

Intitializing Scala interpreter ...

Spark Web UI available at http://MSI:4041
SparkContext available as 'sc' (version = 3.0.0, master = local[*], app id = local-1605140996360)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@77752ce8

In [2]:
val df = spark.read.option("header","true").option("inferSchema","true").csv("../../data/ml_scala/Netflix_2011_2016.csv")

df.columns
df.printSchema()
df.describe().show()
df.show(5)

for(row <- df.head(5)){
    println(row)
}

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

+-------+----------+------------------+------------------+------------------+------------------+--------------------+------------------+
|summary|      Date|              Open|              High|               Low|             Close|              Volume|         Adj Close|
+-------+----------+------------------+------------------+------------------+------------------+--------------------+------------------+
|  count|      1259|              1259|              1259|              1259|              1259|                1259|              1259|
|   mean|      null|230.39351086656092|233.97320872915006|226.80127876251044|  230.522453845909|2.5634836060365368E7|55.610540036536875|
| stddev|      null|164.37456353264244| 165.9705082667129| 162.6506358235739|164.40918905512854| 2.306312683388607E7|35.186669331525486|
|    min|2011-10-24|         53.990001|         55.480001|             52.81|              53.8|             3531300|          7.685714|
|    max|2016-10-24|        708.900017|        716.159996|        697.569984|        707.610001|           315541800|        130.929993|
+-------+----------+------------------+------------------+------------------+------------------+--------------------+------------------+

+----------+----------+------------------+----------+-----------------+---------+------------------+
|      Date|      Open|              High|       Low|            Close|   Volume|         Adj Close|
+----------+----------+------------------+----------+-----------------+---------+------------------+
|2011-10-24|119.100002|120.28000300000001|115.100004|       118.839996|120460200|         16.977142|
|2011-10-25| 74.899999|         79.390001| 74.249997|        77.370002|315541800|11.052857000000001|
|2011-10-26|     78.73|         81.420001| 75.399997|        79.400002|148733900|         11.342857|
|2011-10-27| 82.179998| 82.71999699999999| 79.249998|80.86000200000001| 71190000|11.551428999999999|
|2011-10-28| 80.280002|         84.660002| 79.599999|84.14000300000001| 57769600|             12.02|
+----------+----------+------------------+----------+-----------------+---------+------------------+
only showing top 5 rows

[2011-10-24,119.100002,120.28000300000001,115.100004,118.839996,120460200,16.977142]
[2011-10-25,74.899999,79.390001,74.249997,77.370002,315541800,11.052857000000001]
[2011-10-26,78.73,81.420001,75.399997,79.400002,148733900,11.342857]
[2011-10-27,82.179998,82.71999699999999,79.249998,80.86000200000001,71190000,11.551428999999999]
[2011-10-28,80.280002,84.660002,79.599999,84.14000300000001,57769600,12.02]

df: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 5 more fields]

In [3]:
// Add new column with HV Ratio
val df2 = df.withColumn("HV_Ratio", df("High") / df("Volume"))
df2.show(5)

+----------+----------+------------------+----------+-----------------+---------+------------------+--------------------+
|      Date|      Open|              High|       Low|            Close|   Volume|         Adj Close|            HV_Ratio|
+----------+----------+------------------+----------+-----------------+---------+------------------+--------------------+
|2011-10-24|119.100002|120.28000300000001|115.100004|       118.839996|120460200|         16.977142|9.985040951285156E-7|
|2011-10-25| 74.899999|         79.390001| 74.249997|        77.370002|315541800|11.052857000000001|2.515989989281927E-7|
|2011-10-26|     78.73|         81.420001| 75.399997|        79.400002|148733900|         11.342857|5.474206014903126E-7|
|2011-10-27| 82.179998| 82.71999699999999| 79.249998|80.86000200000001| 71190000|11.551428999999999|1.161960907430818...|
|2011-10-28| 80.280002|         84.660002| 79.599999|84.14000300000001| 57769600|             12.02|1.465476686700271...|
+----------+----------+------------------+----------+-----------------+---------+------------------+--------------------+
only showing top 5 rows

df2: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 6 more fields]

In [4]:
// Find the peak High
df2.orderBy($"High".desc).show(1)

+----------+-----------------+----------+----------+----------+--------+------------------+--------------------+
|      Date|             Open|      High|       Low|     Close|  Volume|         Adj Close|            HV_Ratio|
+----------+-----------------+----------+----------+----------+--------+------------------+--------------------+
|2015-07-13|686.6900019999999|716.159996|686.550026|707.610001|33205200|101.08714300000001|2.156770614241143E-5|
+----------+-----------------+----------+----------+----------+--------+------------------+--------------------+
only showing top 1 row

In [5]:
// Average Closing Price
df2.select(mean("Volume")).show()

+--------------------+
|         avg(Volume)|
+--------------------+
|2.5634836060365368E7|
+--------------------+

In [6]:
// Max and Min Volume
df2.select(min("Volume")).show()
df2.select(max("Volume")).show()

+-----------+
|min(Volume)|
+-----------+
|    3531300|
+-----------+

+-----------+
|max(Volume)|
+-----------+
|  315541800|
+-----------+

In [7]:
// Number of days where close was lower than $600
df2.filter($"Close" < 600).count()

res5: Long = 1218

In [8]:
// Percentage of time high was greater than $500
(df2.filter($"High">500).count()*1.0/df.count())*100

res6: Double = 4.924543288324067

In [9]:
// Correlation between High and Low
df2.select(corr("High","Low")).show()

+------------------+
|   corr(High, Low)|
+------------------+
|0.9996836884310145|
+------------------+

In [10]:
// Max High per year
val df3 = df2.withColumn("Year", year(df2("Date"))).withColumn("Month", month(df2("Date")))
df3.show(1)

val df4 = df3.groupBy("Year").max("High").orderBy($"Year").withColumnRenamed("max(High)", "Year_High")
df4.show()

+----------+----------+------------------+----------+----------+---------+---------+--------------------+----+-----+
|      Date|      Open|              High|       Low|     Close|   Volume|Adj Close|            HV_Ratio|Year|Month|
+----------+----------+------------------+----------+----------+---------+---------+--------------------+----+-----+
|2011-10-24|119.100002|120.28000300000001|115.100004|118.839996|120460200|16.977142|9.985040951285156E-7|2011|   10|
+----------+----------+------------------+----------+----------+---------+---------+--------------------+----+-----+
only showing top 1 row

+----+------------------+
|Year|         Year_High|
+----+------------------+
|2011|120.28000300000001|
|2012|        133.429996|
|2013|        389.159988|
|2014|        489.290024|
|2015|        716.159996|
|2016|129.28999299999998|
+----+------------------+

df3: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 8 more fields]
df4: org.apache.spark.sql.DataFrame = [Year: int, Year_High: double]

In [11]:
// Average Close for each calendar month
df3.groupBy("Month").mean("Close").orderBy("Month").withColumnRenamed("avg(Close)","Avg_Close").show()

+-----+------------------+
|Month|         Avg_Close|
+-----+------------------+
|    1|212.22613874257422|
|    2| 254.1954634020619|
|    3| 249.5825228971963|
|    4|246.97514271428562|
|    5|264.37037614150944|
|    6| 295.1597153490566|
|    7|243.64747528037387|
|    8|195.25599892727263|
|    9|206.09598121568627|
|   10|205.93297300900903|
|   11| 194.3172275445545|
|   12| 199.3700942358491|
+-----+------------------+

In [12]:
spark.stop()